<a href="https://colab.research.google.com/github/Hamza-Chekireb/Artificial-Intelligence-Data-Science-Data-Analysis-Portfolio/blob/main/Unsupervised_Association_Rules_with_mlextend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**I. Unsupervised Association Rules**

**I.1. Apriori Concept**

In [ ]:
import mlxtend # Importation de la bibliothèque mlxtend
import pandas as pd

In [ ]:
# Création d'une base de données
data = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
        ['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
        ['Milk','Apple','Kidney Beans','Eggs'],
        ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
        ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']]

In [ ]:
# Transformation de la base de données des transaction à une base de données exploitable.
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(data).transform(data) 
te_ary
df=pd.DataFrame(te_ary, columns=te.columns_) 
df

,Apple,Corn,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,True,False,True,True,True,True,False,True
1,False,False,True,False,True,True,True,True,False,True
2,True,False,True,False,True,True,False,False,False,False
3,False,True,False,False,True,True,False,False,True,True
4,False,True,True,True,True,False,False,True,False,False

**I.1.2. Support**

La métrique support ou la fréquence d’apparition des produits et ensembles de produits dans un panier.

In [ ]:
from mlxtend.frequent_patterns import apriori

In [ ]:
f_i = apriori(df, min_support = 0.6, use_colnames= True)
f_i

    support                      itemsets
0       0.8                        (Eggs)
1       1.0                (Kidney Beans)
2       0.8                        (Milk)
3       0.6                       (Onion)
4       0.6                      (Yogurt)
5       0.8          (Eggs, Kidney Beans)
6       0.6                  (Eggs, Milk)
7       0.6                 (Eggs, Onion)
8       0.8          (Milk, Kidney Beans)
9       0.6         (Kidney Beans, Onion)
10      0.6        (Kidney Beans, Yogurt)
11      0.6                (Milk, Yogurt)
12      0.6    (Eggs, Milk, Kidney Beans)
13      0.6   (Eggs, Kidney Beans, Onion)
14      0.6  (Milk, Kidney Beans, Yogurt)

**I.1.3. confidence**

La probabilité d'acheter un produit X après avoir acheter Y

In [ ]:
from mlxtend.frequent_patterns import association_rules 
association_rules(f_i,metric="confidence",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.0000,0.00,1.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.0000,0.00,inf
2,(Milk),(Eggs),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Eggs),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
4,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.2500,0.12,inf
5,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
6,(Milk),(Kidney Beans),0.8,1.0,0.8,1.00,1.0000,0.00,inf
7,(Kidney Beans),(Milk),1.0,0.8,0.8,0.80,1.0000,0.00,1.0
8,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.0000,0.00,inf
9,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.0000,0.00,inf
10,(Milk),(Yogurt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
11,(Yogurt),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
12,"(Milk, Kidney Beans)",(Eggs),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
13,"(Milk, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.0000,0.00,inf
14,"(Kidney Beans, Eggs)",(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
15,(Milk),"(Kidney Beans, Eggs)",0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
16,(Eggs),"(Milk, Kidney Beans)",0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
17,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.2500,0.12,inf
18,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.0000,0.00,inf
19,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
20,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.2500,0.12,inf
21,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.2500,0.12,1.6
22,"(Milk, Kidney Beans)",(Yogurt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
23,"(Milk, Yogurt)",(Kidney Beans),0.6,1.0,0.6,1.00,1.0000,0.00,inf
24,"(Kidney Beans, Yogurt)",(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
25,(Milk),"(Kidney Beans, Yogurt)",0.8,0.6,0.6,0.75,1.2500,0.12,1.6
26,(Yogurt),"(Milk, Kidney Beans)",0.6,0.8,0.6,1.00,1.2500,0.12,inf

**I.1.4. Lift**

Quelle est la probabilité d'acheter les articles X et Y ensemble plutôt que d'acheter uniquement l'article X

In [ ]:
from mlxtend.frequent_patterns import association_rules 
association_rules(f_i,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
1,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf
2,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf
4,"(Kidney Beans, Yogurt)",(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf
5,(Yogurt),"(Milk, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf